#parse-request-form {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: flex-start;
    align-items:     stretch;
    margin:          0 0 20px;
    padding:         20px;
    background:      #f8f8f8;
    border:          1px solid #e7e7e7;
    border-radius:   4px;

    input {
        display:       block;
        flex-grow:     1;
        flex-basis:    0;
        height:        34px;
        margin:        0;
        padding:       6px 12px;
        border:        1px solid #e7e7e7;
        border-radius: 4px;
    }

    button {
        display:     block;
        flex-shrink: 0;
        margin:      0 0 0 20px;
        padding:     6px 18px;
        white-space: nowrap;
        background:  #e7e7e7;
        border:      none;

        &:hover, &:focus {
            background: #e0e0e0;
        }
    }
}
